@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.9;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: aliceblue;
}
h1 {
  font-size: 3.2em;
  line-height: 1.2;
}
h2{
  font-size: 3.2em;
  line-height: 1.2;
  color: #473ab0;
}
h3{
  color: #473ab0;
  font-style: normal;
  font-weight: bold;
  font-size: large;
}
h4{
  color: #535bf2;
  font-style: normal;
  font-weight: bold;
}
p{
  color: #a180db;
  font-style: normal;
  font-weight: bold;
}
button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  border: none; 
}
button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.sidebar-button{
  background-color: none;
}
.button-opaque-bg {
  background-color: rgba(0, 0, 0, 0); 
  border: none; 
  padding: 2; 
  font: inherit; 
  transition: color 0.3s; 
}
.button-opaque-bg:hover {
  color: #646cff; 
}
.sidebar-item:focus {
  outline: none;
}
@media (max-width: 768px) {
  .sidebar {
    display: none; 
  }
  .flex-col {
    flex-direction: column; 
  }
  .flex-grow {
    flex: 1;
  }
}
.top-skills canvas {
  max-width: 800px;
  max-height: 600px;
}
.chart-container {
  min-width: 600px;
  min-height:600px
}
